* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: grey;
}

header,
a:hover {
  background-color: black;
  color: bisque;
}

h1 {
  display: inline-block;
}
.logo {
  font-size: 3rem;
  display: inline;
  color: rgb(242, 239, 239);
}

nav,
li {
  display: inline-block;
  margin: 5px;
}

nav {
  margin-left: 19rem;
  margin-bottom: 10px;
}

.search {
  margin-left: 27%;
  width: 20rem;
  padding: 5px;
  border-radius: 50px;
}
